@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Mukta&family=Open+Sans&family=Oswald&family=Poppins&family=Sen&family=Space+Mono&family=Tilt+Neon&family=Ubuntu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sen', sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
}
.body-hide-overflow {
  overflow-y: hidden;
  position: fixed;
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  display: block;
  width: 100%;
}
.home-container {
  background-image: url('/wave-home.svg');
}
.projects-container {
  background-image: url('/wave-projects.svg');
}
.about-container {
  background-image: url('/wave-about.svg');
}
.contact-container {
  background-image: url('/wave-contact.svg');
}
.home-container,
.about-container,
.projects-container,
.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100svh - 120px);
  background-color: white;
  overflow-y: overlay;
  overflow-x: hidden;
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.burger-active-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  display: 'none';
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form-seperator-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.contact-side-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-main-container {
  width: 50%;
  margin-top: -0.1rem;
}
.contact-link {
  text-decoration: none;
}
.contact-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: black;
}
.mantine-xto0s {
  height: 24px;
}
.background-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.project-img-zoom {
  z-index: 5;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
#home-title,
#about-title,
#contact-title,
#projects-title {
  white-space: nowrap;
  font-size: 2.5rem;
  display: inline-block;
  margin-right: auto;
  position: relative;
  color: #fff;
  -webkit-text-stroke: 0 #fff;
}
#home-title::before,
#about-title::before,
#contact-title::before,
#projects-title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #000000;
  -webkit-text-stroke: 0 #fff;
  overflow: hidden;
  animation: animate 15s ease infinite;
}
.home-welcome {
  font-family: 'Space Mono', sans-serif;
  font-size: clamp(16px, 2vw, 24px);
  margin-bottom: 1rem;
}
.home-intro {
  font-family: 'Mukta', sans-serif;
  font-size: clamp(40px, 8vw, 80px);
  line-height: 100%;
}
#home-title {
  font-family: 'Mukta', sans-serif;
  font-size: clamp(40px, 8vw, 80px);
  line-height: 110%;
}
.footer-bar {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

@keyframes animate {
  0%,
  5%,
  100% {
    width: 0;
  }
  10%,
  90% {
    width: 100%;
  }
}
@media screen and (min-width: 900px) and (max-height: 800px) {
  .about-container,
  .home-container,
  .projects-container,
  .contact-container {
    background-image: none;
  }
}
@media screen and (max-width: 900px) {
  .container {
    margin: 0;
  }
  .form-seperator-container {
    flex-direction: column;
  }
  .contact-side-container,
  .contact-main-container {
    width: 100%;
  }

  .about-container,
  .home-container,
  .projects-container,
  .contact-container {
    background-image: none;
  }
  .footer-bar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  }
}
@media screen and (max-width: 450px) {
  .project-img-zoom {
    top: 0.5rem;
    right: 0.5rem;
  }
  #about-title,
  #contact-title,
  #projects-title {
    font-size: 1.9rem;
  }
}
